html{
    scroll-behavior: smooth;
}

body{
  background-color: #ddd;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  list-style-type: none;
}

nav li{
  display: inline;
  padding-right: 20px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top:0;
}

*:focus{
  border: 2px solid black;
}

.foot{
  background-color: black;
  color: white;
  grid-column: 1 / -1;
  grid-row: 7 / auto;
  padding-top: 30px;
  text-align: center;
}


@media screen and (min-width: 300px){
  .container{
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 5fr 1fr; /* Change to 3 column layout */
    grid-template-rows: 30px auto auto auto auto auto 100px; /* change to auto, nav size */
    width: 100vw; /* full width - don't think we can check for this */
  }

  .nav{
    align-self: center;
    background-color: #ddd;
    grid-column: 1 / -1;
    grid-row: 1 / auto;
    padding: 20px 0; /* reduce padding*/
    text-align: left; /* left instead of right */
  }

  .head{
    background-attachment: fixed; /* Parallax effect */
    background-image: url("../images/header.jpg"); /* Parallax effect */
    background-position: center; /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover; /* Parallax effect */
    color: white;
    grid-column: 1 / -1;
    grid-row: 2 / auto;
    height: 400px; /* Parallax effect */
  }

  .head p{
    color: white;
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
  }

  .about-image{
    grid-column: 1 / -1;
    grid-row: 3 / auto;
    max-height: 700px;
    overflow: hidden;
  }

  .about{
    grid-column: 2 / auto;
    grid-row: 3 / auto;
  }

  .method-image{
    grid-column: 1 / -1;
    grid-row: 4 / auto;
    max-height: 700px;
    overflow: hidden;
  }

  .method{
    grid-column: 2 / auto;
    grid-row: 4 / auto;
  }

  .clients-image{
    grid-column: 1 / -1;
    grid-row: 5 / auto;
    max-height: 700px;
    overflow: hidden;
  }

  .clients{
    grid-column: 2 / auto;
    grid-row: 5 / auto;
  }

  .contact-image{
    grid-column: 1 / -1;
    grid-row: 6 / auto;
    max-height: 700px;
    overflow: hidden;
  }

  .contact{
    grid-column: 2 / auto;
    grid-row: 6 / auto;
  }

  .text-block{
    align-self: center;
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    justify-self: center;
    padding: 30px;
  }

}

@media screen and (min-width: 800px){
  .container{
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;
    width: 100vw;
  }

  .nav{
    align-self: center;
    background-color: #ddd;
    grid-column: 1 / -1;
    grid-row: 1 / auto;
    padding: 35px 0;
    text-align: right;
  }

  .about-image{
    grid-column: 2 / span 2;
    grid-row: 3 / auto;
    overflow: hidden;
  }

  .about{
    grid-column: 3 / span 2;
    grid-row: 3 / auto;
  }

  .method-image{
    grid-column: 3 / span 2;
    grid-row: 4 / auto;
    overflow: hidden;
  }

  .method{
    grid-column: 2 / span 2;
    grid-row: 4 / auto;
  }

  .clients-image{
    grid-column: 2 / span 2;
    grid-row: 5 / auto;
    overflow: hidden;
  }

  .clients{
    grid-column: 3 / span 2;
    grid-row: 5 / auto;
  }

  .contact-image{
    grid-column: 3 / span 2;
    grid-row: 6 / auto;
    overflow: hidden;
  }

  .contact{
    grid-column: 2 / span 2;
    grid-row: 6 / auto;
  }

}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: initial; /* sets to default setting */
    transition: initial; /* sets to default setting */
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
