body{
    font-family: 'Quicksand', sans-serif;
    background-image: url("../images/pidgeon-background.jpg");
    background-repeat: no-repeat;
    background-color: #dddddd;
    color: black;
    font-size: 18px;
    margin: 1.2em;
}

main{
  margin-bottom: 100px;
}

h1{
  color: #c12258;
  font-size: 2em;
  line-height: 1.5;
}

p{
  padding-top: 15px;
}

a{
  color: #c12258;
  text-decoration: underline;
}

table{
  border-collapse: separate; /* makes background color rounded too - not just border */
  border-radius: 10px;
  border: 2px solid black;
}

.colhead{
  background-color: #7e0830;
  color: white;
  padding: 10px;
  vertical-align: middle;
  min-width: 150px;
  text-transform: uppercase;
}

.rowhead{
  border-top: 2px solid black;
}

td{
  border-top: 2px solid black;
  text-align: center;
}

tr:nth-child(even){
  background-color: #ddd;
}

tr:hover{
  background-color: #fab9cf;
}

*:focus{
  border: 1px solid red;
}

thead tr:first-child th:first-child{
  border-top-left-radius: 10px;
}

thead tr:last-child th:last-child{
  border-top-right-radius: 10px;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}

td{
  padding: 15px;
}

footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
  background:black;
  text-align:center;
  color: white;
}
