body{
margin: 0;
padding: 0;
}

h1{
  font-size: 32px;
  text-align: center;
  line-height: 2;
}

/* Mobile layout */
@media screen and (min-width: 300px){
  .container{
    display: grid;
    grid-template-columns: 95vw;
    grid-template-rows: auto;
    margin: auto;
    width: 95vw;
  }

  .img-one{
    grid-column: auto;
    grid-row: 1 / auto;
    overflow: hidden;
  }

  .img-two{
    grid-column: auto;
    grid-row: 2 / auto;
    overflow: hidden;
  }

  .img-three{
    grid-column: auto;
    grid-row: 3 / auto;
    overflow: hidden;
  }

  .img-four{
    grid-column: auto;
    grid-row: 4 / auto;
    overflow: hidden;
  }

  .img-five{
    grid-column: auto;
    grid-row: 5 / auto;
    overflow: hidden;
  }

  .img-six{
    grid-column: auto;
    grid-row: 6 / auto;
    overflow: hidden;
  }

  .img-seven{
    grid-column: auto;
    grid-row: 7 / auto;
    overflow: hidden;
  }

  .img-eight{
    grid-column: auto;
    grid-row: 8 / auto;
    overflow: hidden;
  }

  .img-nine{
    grid-column: auto;
    grid-row: 9 / auto;
    overflow: hidden;
  }

  footer{
    background-color: black;
    color: white;
    grid-column: auto;
    grid-row: 10 auto;
    align-self: stretch;
    justify-self: stretch;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

/* Tablet layout */
@media screen and (min-width: 600px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px 350px 350px 350px 350px 100px;
    margin: auto;
    width: 95vw;
  }

  .img-one{
    grid-column: 1 / auto;
    grid-row: 1 / auto;
    overflow: hidden;
  }

  .img-two{
    grid-column: 2 / auto;
    grid-row: 1 / auto;
    overflow: hidden;
  }

  .img-three{
    grid-column: 1 / span 2;
    grid-row: 2 / auto;
    overflow: hidden;
  }

  .img-four{
    grid-column: 1 / auto;
    grid-row: 3 / auto;
    overflow: hidden;
  }

  .img-five{
    grid-column: 2 / auto;
    grid-row: 3 / auto;
    overflow: hidden;
  }

  .img-six{
    grid-column: 1 / span 2;
    grid-row: 4 / auto;
    overflow: hidden;
  }

  .img-seven{
    grid-column: 1 / span 2;
    grid-row: 6 / auto;
    overflow: hidden;
  }

  .img-eight{
    grid-column: 2 / auto;
    grid-row: 5 / auto;
    overflow: hidden;
  }

  .img-nine{
    grid-column: 1 / auto;
    grid-row: 5 / auto;
    overflow: hidden;
  }

  footer{
    background-color: black;
    color: white;
    grid-column: 1 / span 2;
    grid-row: 7 / auto;
    align-self: stretch;
    justify-self: stretch;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Desktop layout */
@media screen and (min-width: 1000px){

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 350px 350px 350px 350px 350px 100px;
  margin: auto;
  width: 95vw;
}

.img-one{
  grid-column: 3 / -1;
  grid-row: 1 / auto;
  /* grid-column-end: 3;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2; */
  overflow: hidden;
}

.img-two{
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  /* grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2; */
  overflow: hidden;
}

.img-three{
  grid-column: 3 / -1;
  grid-row: 2 / auto;
  /* grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3; */
  overflow: hidden;
}

.img-four{
  grid-column: 2 / auto;
  grid-row: 3 / auto;
  overflow: hidden;
}

.img-five{
  grid-column: 1 / auto;
  grid-row: 3 / auto;
  overflow: hidden;
}

.img-six{
  grid-column: 3 / auto;
  grid-row: 3 / auto;
  overflow: hidden;
}

.img-seven{
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
  overflow: hidden;
}

.img-eight{
  grid-column: 1 / auto;
  grid-row: 4 / span 2;
  overflow: hidden;
}

.img-nine{
  grid-column: 4 / -1;
  grid-row: 3 / span 3;
  overflow: hidden;
}

footer{
  background-color: black;
  color: white;
  grid-column: 1 / span 4;
  grid-row: 6 / auto;
  align-self: stretch;
  justify-self: stretch;
  text-align: center;
  padding-top: 20px;
}
}
